* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Uncut-Sans-Regular";
    src: url('../appearance/fonts/Uncut-Sans-Regular.woff2') format('woff2');
    src: url('../appearance/fonts/UncutSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Uncut-Sans-RegularOblique";
    src: url('../appearance/fonts/Uncut-Sans-RegularOblique.woff2') format('woff2');
    src: url('../appearance/fonts/UncutSans-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Avara-BoldItalic";
    src: url('../appearance/fonts/Avara-BoldItalic.woff') format('woff');
    src: url('../appearance/fonts/Avara-BoldItalic.woff2') format('woff2');
    src: url('../appearance/fonts/Avara-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

::selection {
    background-color: rgb(227, 227, 227);
    color: #000000;
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 320PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 320px) {

    html,
    body {
        background-color: rgb(251, 250, 249);
        width: 100%;
        height: 100%;
    }

    body {
        font-family: "Uncut-Sans-Regular", Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 1.5rem;
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        height: 100vh;

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }



    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    /* ------------- HEADER - NAVBAR PROJET -------------- */
    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    header {
        padding-left: 0;
        padding-right: 0;
    }

    nav {
        background-color: rgb(251, 250, 249, 0.827);
        height: 70px;
        padding: 30px 30px 0 30px;
        border-bottom: 1px solid black;
    }

    nav.fixed-top {
        left: 30px;
        right: 30px;
        width: auto;
    }

    .fixed-top {
        z-index: 999;
    }

    /* Menu coulissant */
    .menu-toggle {
        display: none;
    }

    .menu-button {
        cursor: pointer;
        font-size: 1.5rem;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobile-menu a {
        display: block;
        padding: 15px 0 0 20px;
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }

    .mobile-menu a:hover {
        font-family: "Uncut-Sans-RegularOblique", "Arial", sans-serif;
        font-weight: normal;
        font-style: italic;
    }

    .btn-close {
        cursor: pointer;
        font-size: 1.5rem;
        display: block;
        text-align: right;
    }

    /* Afficher le menu mobile lorsque le checkbox est coché */
    .menu-toggle:checked~nav~.mobile-menu {
        transform: translateX(0);
        display: block;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100%;
        background-color: rgb(251, 250, 249);
        box-shadow: -2px 0 5px rgba(186, 185, 185, 0.3);
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 1000;
    }

    /* Menu coulissant */

    h1,
    .infos-nav {
        margin: 0;
    }

    h1 {
        font-size: 1.8rem;
        font-family: "Avara-BoldItalic", "Inter", "Arial", sans-serif;        
        font-weight: bold;
        font-style: italic;
    }

    .infos-nav {
        font-size: 1.5rem;
        font-family: "Uncut-Sans-Regular", "Inter", "Arial", sans-serif;
        font-weight: normal;
        font-style: normal;
    }



    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    /* ------------------ PAGE PROJETS ------------------- */
    /* --------------------------------------------------- */
    /* --------------------------------------------------- */

    .scroll-container {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .image-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 30px;
        max-width: 100%;
    }

    .project-image {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        flex-shrink: 0;
    }

    .project-image {
        width: 100%;
        height: auto;
    }

    .titre-project {
        font-family: "Uncut-Sans-Regular", "Inter", "Arial", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 1.2rem;
    }

    .titre-project:hover {
        background-color: rgb(227, 227, 227);
    }

    .section-project-one,
    .section-project-two,
    .section-project-three,
    .section-project-four,
    .section-project-five,
    .section-project-six,
    .section-project-seven {
        background-color: rgb(251, 250, 249);
        margin-top: 70.5px;
    }

    .text-project-one,
    .text-project-two,
    .text-project-three {
        top: 90px;
        grid-column: 1 / 3;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        gap: 10px;
    }

    .text-project {
        color: rgb(145, 145, 145);
        margin-bottom: 30px;
        width: 100%;
    }

    .start {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-right: 30px;
        margin-left: 30px;
    }

    .close-btn-project {
        display: flex;
        align-items: start;
        justify-content: end;
    }

    .close-btn-project a {
        font-size: 20px;
        background-color: rgb(251, 250, 249);
    }

    .more-text {
        display: none;
    }

    .details-container {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 1rem;
    }

    .all-details {
        display: none;
    }

    .btn-more,
    .link-next {
        background: none;
        border: none;
        color: inherit;
        margin-bottom: 10px;
        font-size: 1rem;
        cursor: pointer;
        display: inline-block;
        color: rgb(145, 145, 145);
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
    }

    .btn-more-container {
        justify-self: start;
    }

    .link-next-container {
        justify-self: end;
    }

    .btn-more:hover,
    .link-next:hover {
        background-color: rgb(227, 227, 227);
        text-decoration: none;
    }

    .all-details {
        color: rgb(145, 145, 145);
        margin-bottom: 30px;

        a {
            color: rgb(145, 145, 145);
        }

        a:hover {
            background-color: rgb(227, 227, 227);
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .desktop-menu a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }

    .desktop-menu a:hover {
        font-family: "Uncut-Sans-RegularOblique", "Arial", sans-serif;
        font-weight: normal;
        font-style: italic;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 768px) {

    /* Cacher le bouton menu et afficher les liens du menu */
    .menu-button {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: flex;
        gap: 1rem;
    }
}




/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ----------- MEDIA MAX-WIDTH 1000PX ---------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    body {
        overflow: hidden;
        font-size: 1rem;
    }

    #imageContainer {
        position: relative;
        cursor: none; 
    }

    .img-responsive {
        max-width: 90%;
        height: auto;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE/Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .image-container {
        flex-direction: row;
        overflow-x: auto;
        width: 100%;
    }

    .reduced-size {
        width: 40%;
        height: auto;
        transition: width 0.3s ease-in-out;
    }

    .reduced-size-project {
        width: 40%;
        transition: width 0.3s ease-in-out;
    }

    .project-image {
        max-height: 560px;
        flex-shrink: 0;
        object-fit: contain;
    }

    .img-responsive {
        padding: 0;
    }

    .close-btn-project {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .section-project-one,
    .section-project-two,
    .section-project-three,
    .section-project-four,
    .section-project-five,
    .section-project-six,
    .section-project-seven {
        margin-top: 85px;
    }

    .text-project-one,
    .text-project-two,
    .text-project-three {
        width: 100%;
        padding-top: 10px;
    }

    .text-project,
    .all-details {
        margin-bottom: 15px;
    }

    .titre-project {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .btn-more,
    .link-next {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .infos-nav {
        font-size: 1.8rem;
        transition: font-family 0.3s ease;
    }

    .infos-nav:hover {
        font-family: "Uncut-Sans-RegularOblique", "Arial", sans-serif;
        font-weight: normal;
        font-style: italic;
    }

    .more-text {
        font-size: 1rem;
        width: 100%;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ----------- MEDIA MIN-WIDTH 1200PX ----------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {

    .img-responsive {
        max-width: 90%;
        height: auto;
    }

    .text-project {
        width: 100%;
    }

    .close-btn-project a {
        font-size: 20px;
        cursor: pointer;
    }

    .text-project-one,
    .text-project-two,
    .text-project-three {
        width: 100%;
    }

    .details-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .more-text {
        grid-column: 1 / 2;
    }

    .all-details {
        grid-column: 2 / 3;
    }

    .project-image {
        max-height: 580px;
    }

    .section-project-one,
    .section-project-two,
    .section-project-three,
    .section-project-four,
    .section-project-five,
    .section-project-six,
    .section-project-seven {
        margin-top: 75px;
    }
}




/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1440px -------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

@media only screen and (min-width: 1440px) {
    .img-responsive {
        max-width: 90%;
        height: auto;
    }

    .details-container {
        grid-gap: 50px;
    }

    .reduced-size {
        width: 47%;
    }

    .reduced-size-project {
        width: 47%;
    }

    .project-image {
        max-height: 900px;
        max-width: 60%;
        flex-shrink: 0;
    }

    .desktop-menu a {
        text-decoration: none;
        color: black;
        font-size: 1.8rem;
    }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1540px -------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

@media only screen and (min-width: 1540px) {
    .details-container {
        grid-gap: 150px;
    }

    .reduced-size {
        width: 50%;
    }

    .reduced-size-project {
        width: 50%;
    }

    .project-image {
        max-height: 900px;
        max-width: 60%;
    }
}