* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'bianzhidai-Pearl';
    src: url('/fonts/bianzhidai-Pearl.otf') format('opentype');
    src: url('/fonts/bianzhidai-Pearl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UncutSans";
    src: url('/fonts/UncutSans-Bold.woff2') format('woff2');
    src: url('/fonts/UncutSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {

    html,
    body {
        background-color: rgb(251,250,249);
        width: 100%;
        height: 100%;
    }

    body {
        font-family: "UncutSans", Arial, sans-serif;
        font-size: 1.5rem;
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        overflow-x: hidden;
        height: 100vh;

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }



    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    /* ------------- HEADER - NAVBAR PROJET -------------- */
    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    header {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-three {
        padding: 25px 50px 5px 50px;
        height: 90px;
        background-color: rgb(251,250,249, 0.827);
    }

    .infos-name,
    .infos-nav {
        font-size: 3rem;
        font-family: "UncutSans", "Arial", sans-serif;
    }



    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    /* ------------------ PAGE PROJETS ------------------- */
    /* --------------------------------------------------- */
    /* --------------------------------------------------- */

    .scroll-container {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .image-project {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100vw;
        margin-bottom: -2px;
    }

    .img-responsive {
        width: 100%;
        height: auto;
    }

    .titre-project {
        font-family: "UncutSans", "Inter", Arial, sans-serif;
        font-size: 2.5rem;
    }

    .section-project-one {
        /* background-color: #f6adf4;  */
        background-color: rgb(251,250,249);
        margin-top: 95px;
        border-top: 1px solid black;
    } 

    .section-project-two {
        /* background-color: #edd9686a; */
        background-color: rgb(251,250,249);
        margin-top: 95px;
        border-top: 1px solid black;
    }

    .section-project-three {
        /* background-color: #b1eff1; */
        background-color: rgb(251,250,249);
        margin-top: 95px;
        border-top: 1px solid black;
    }

    .section-project-four {
        /* background-color: #75e9ab; */
        background-color: rgb(251,250,249);
        margin-top: 95px;
        border-top: 1px solid black;
    }

    .section-project-five {
        /* background-color: #004cffb1; */
        background-color: rgb(251,250,249);
        margin-top: 95px;
        border-top: 1px solid black;
    }

    .section-project-six {
        /* background-color: #d6b4f36a; */
        background-color: rgb(251,250,249);
        margin-top: 95px;
        border-top: 1px solid black;
    }

    .section-project-seven {
        /* background-color: #e85d37; */
        background-color: rgb(251,250,249);
        margin-top: 95px;
        border-top: 1px solid black;
    }

    .text-project-one,
    .text-project-two,
    .text-project-three {
        margin-left: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 90px;
        margin-right: 50px;
    }

    .close-btn-project a {
        font-size: 20px;
        margin: 5px 0;
        background-color: rgb(251,250,249);
        border: 1px solid black;
        display: flex;
        align-items: center;
    }

    /* .more-text {
        width: 20%;
    } */
}




/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ----------- MEDIA MAX-WIDTH 1000PX ---------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    body {
        overflow: hidden;
    }

    .scroll-container {
        width: 100vh;
        height: 100vw;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin: 0;
        padding: 0;
    }

    .navbar-three {
        height: 75px;
    }

    .section-project-one,
    .section-project-two,
    .section-project-three,
    .section-project-four,
    .section-project-five,
    .section-project-six,
    .section-project-seven {
        margin-top: 85px;
    }

    .text-project-one, .text-project-two, .text-project-three {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .scroll-container::-webkit-scrollbar {
        display: none;
    }


    ::-webkit-scrollbar {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: row;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
    }

    .image-project {
        height: 80vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        margin-bottom: 0;
        display: flex;
        align-items: start;
    }

    .img-responsive {
        max-width: 2000px;
        width: auto;
        height: 100%;
    }

    .text-project-one,
    .text-project-two,
    .text-project-three {
        margin-right: 50px;
    }

    .titre-project {
        font-size: 1.9rem;
    }

    .infos-nav,
    .infos-name {
        font-size: 1.9rem;
        transition: font-family 0.3s ease;
    }

    .infos-nav:hover,
    .infos-name:hover {
        font-family: "bianzhidai-Pearl", "Arial", sans-serif;
        font-weight: normal;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ----------- MEDIA MIN-WIDTH 1200PX ----------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 1.1rem;
    }

    .img-responsive {
        max-width: 1300px;
    }

    .content {
        gap: 20px;
    }


    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    /* ----------- HEADER - NAVBAR PAGE PROJET ----------- */
    /* --------------------------------------------------- */
    /* --------------------------------------------------- */

    .close-btn-project a {
        font-size: 20px;
        bottom: 20px;
        cursor: pointer;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1440px -------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

@media only screen and (min-width: 1440px) {
    .img-responsive {
        max-width: 2000px;
        width: auto;
        height: 100%;
    }
}




/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1540px -------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1540px) {
    .img-responsive {
        max-width: 2000px;
        width: auto;
        height: 100%;
    }

    .image-project {
        height: 80vh;
    }
}

@media only screen and (min-width: 2000px) {
    .img-responsive {
        max-width: 2500px;
        width: auto;
        height: 100%;
    }

    .navbar-three {
        padding-left: 100px;
        padding-right: 100px;
    }

    .text-project-one,
    .text-project-two,
    .text-project-three {
        margin-left: 100px;
        margin-right: 100px;
    }
}