* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Uncut-Sans-Medium";
    src: url('../appearance/fonts/Uncut-Sans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Uncut-Sans-MediumOblique";
    src: url('../appearance/fonts/Uncut-Sans-RegularOblique.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

::selection {
    background-color: rgb(227, 227, 227);
    color: #000000;
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {

    html,
    body {
        background-color: rgb(251, 250, 249);
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    body {
        font-family: "Uncut-Sans-Regular", "Inter", Arial, sans-serif;
        font-size: 1.5rem;
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        height: 100vh;

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
        }
    }

    .container_homepage,
    .container_inner {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: absolute;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .infos-name {
        margin-bottom: 0;
    }

    header {
        padding-left: 0;
        padding-right: 0;
    }


    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    /* ------------- HEADER - NAVBAR PROJET -------------- */
    /* --------------------------------------------------- */
    /* --------------------------------------------------- */

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .navbar {
        padding: 25px 0 0 0;
        background-color: rgb(251, 250, 249, 0.827);
        margin-left: 30px;
        margin-right: 30px;
    }

    h1,
    .infos-nav {
        font-size: 1.5rem;
        font-family: "Uncut-Sans-Regular", "Inter", "Arial", sans-serif;
        margin: 0;
    }

    .fixed-top {
        z-index: 1000;
    }

    .tag-mobile {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        padding: 0 0 0 25px;
        border: none;
        color: black;
        cursor: pointer;
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
    }

    .dropdown-menu {
        display: none;
        flex-direction: column;
    }

    .dropdown-checkbox {
        display: none;
    }

    .dropdown-checkbox:checked~.dropdown-menu {
        display: flex;
        padding: 0;
        border: none;
        width: 100%;
        height: fit-content;
        padding-left: 15px;
        align-items: start;
        background-color: rgb(251, 250, 249, 0.827);
    }

    .desktop-only {
        display: none;
    }

    .mobile-dropdown .dropdown-menu {
        display: none;
        flex-direction: column;
    }

    .dropdown-checkbox:checked~.dropdown-menu {
        display: flex;
    }

    .dropdown-menu {
        display: none;
        flex-direction: column;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease;
    }

    .dropdown-checkbox:checked~.dropdown-menu {
        display: flex;
        max-height: 500px;
        opacity: 1;
    }

    .mobile-dropdown label.tag {
        display: block;
        width: 100%;
        text-align: start;
        background-color: rgb(251, 250, 249, 0.827);
        padding: 25px;
        box-sizing: border-box;
    }

    .mobile-dropdown {
        width: 100%;
        padding: 0;
    }

    .mobile-dropdown label.tag {
        position: relative;
        left: 0;
        right: 0;
    }

    .hidden {
        display: none !important;
    }

    .hover-text {
        display: none;
    }




    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    /* ----------- PAGE ACCUEIL - PROJETS ---------------- */
    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    .section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 90px 30px 20px 30px;
        position: absolute;
    }

    .col {
        width: 100%;
        padding: 0;
        text-decoration: none;
        color: inherit;
        max-width: 100%;
        box-sizing: border-box;
        flex: 0 0 50%;
        margin-bottom: 0;
        border-top: 1px solid black;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .col:hover {
        cursor: pointer;
    }

    .col .circle {
        line-height: 1rem;
    }

    .photo-gray .hover-text {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .photo-gray:hover .hover-text {
        opacity: 1;
    }

    .image {
        width: 100%;
        height: auto;
    }

    .project {
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;
        padding: 10px;
        gap: 10px;
    }

    .text {
        display: flex;
        align-items: start;
        flex-direction: column;
    }

    .text p {
        line-height: 2rem;
    }

    .titre {
        font-family: "Uncut-Sans-Regular", "Inter", "Arial", sans-serif;
        font-size: 1.2rem;
    }

    .titre:hover {
        background-color: rgb(227, 227, 227);
    }

    .circle {
        background-color: rgb(227, 227, 227);
        margin-bottom: 6px;
    }

    .col-1:hover,
    .col-2:hover,
    .col-3:hover,
    .col-4:hover,
    .col-5:hover,
    .col-6:hover,
    .col-7:hover,
    .col-8:hover {
        border: 1px solid black;
    }

    .col-1:hover {
        background-color: #75e9ab;
    }

    .col-2:hover {
        background-color: #ff6236;
    }

    .col-3:hover {
        background-color: #004cffb1;
    }

    .col-4:hover {
        background-color: #f6adf4;
    }

    .col-5:hover {
        background-color: #edd9686a;
    }

    .col-6:hover {
        background-color: #d6b4f36a;
    }

    .col-7:hover {
        background-color: #81edf1;
    }

    .col-8:hover {
        background-color: rgb(251, 255, 0);
    }

    .image {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .photo-gray {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .photo-gray .image {
        width: 100%;
        height: auto;
        transition: opacity 0.3s ease;
    }

    .photo-gray .hover-text {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        padding: 10px;
        color: black;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .photo-gray:hover .hover-text {
        opacity: 1;
    }

    .photo-gray:hover .image {
        opacity: 0.05;
    }



    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    /*--------------- PAGE INFOS & MENTIONS ---------------*/
    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    .page-contact {
        height: 100%;
        margin: 90px 50px 0 50px;
    }

    .page-legal {
        height: 100%;
        margin: 90px 50px 0 50px;
    }

    .box-one,
    .box-two,
    .box-one_two {
        padding: 30px 0;
    }

    .text-infos {
        margin-top: 25px;
    }

    .close-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        font-size: 40px;
    }

    a {
        line-height: 1;
    }

    .close-btn_two {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        font-size: 40px;
    }

    a {
        line-height: 1;
    }

    .page-contact p,
    .page-contact a {
        color: black;
    }

    .text-mail,
    .text-tel,
    .text-link,
    .text-link-two {
        font-size: 3rem;
        font-family: "Uncut-Sans-Regular", "Inter", Arial, sans-serif;
    }

    .text-mail:hover,
    .text-tel:hover {
        text-decoration: underline 2px black;
        background-color: rgb(216, 216, 216);
    }

    .text-link,
    .text-link-two {
        text-decoration: none;
        display: inline-block;
        overflow: hidden;
    }

    .text-about {
        font-size: 2.5rem;
        font-family: "Uncut-Sans-Regular", "Inter", Arial, sans-serif;
    }

    .text-infos {
        font-size: 1.9rem;
        font-family: "Uncut-Sans-Regular", "Inter", Arial, sans-serif;
    }

    .line {
        border-bottom: 1px solid black;
    }

    .title-infos {
        background-color: rgb(216, 216, 216);
        padding: 0 2px;
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 0;
    }

    .title-infos_two {
        padding: 0 2px;
        font-size: 1.4rem;
        font-weight: bold;
    }

    .legal-notice {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-bottom: 30px;
    }

    .talk {
        text-decoration: underline;
    }

    .talk:hover {
        color: white;
        background-color: rgb(4, 40, 156);
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (max-width: 768px) {

    .col {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .image {
        margin: 10px 0;
    }

    .text-mail,
    .text-tel,
    .text-link,
    .text-link-two {
        font-size: 2.7rem;
    }

    .text-about {
        font-size: 2.2rem;
    }

    .text-infos {
        font-size: 1.7rem;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ----------- MEDIA MIN-WIDTH 1000PX ----------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    .navbar {
        border-bottom: 1px solid black;
    }

    .section {
        margin-top: 130px;
    }

    .col {
        margin-top: 0;
    }

    .mobile-dropdown {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    .tags-desktop {
        width: 100%;
        position: fixed;
        top: 80px;
        z-index: 9999;
        display: flex;
        justify-content: start;
        flex-direction: row;
        align-items: start;
        padding: 5px 0;
        background-color: rgb(251, 250, 249, 0.827);
        gap: 30px;
    }

    .infos-nav,
    h1 {
        font-size: 2rem;
        transition: font-family 0.3s ease;
    }

    .infos-nav:hover,
    h1:hover {
        font-family: "Uncut-Sans-RegularOblique", "Arial", sans-serif;
        font-weight: normal;
    }

    .titre {
        font-size: 1.5rem;
    }

    .tag-desktop {
        font-size: 1.5rem;
        border: none;
        color: black;
        cursor: pointer;
        background-color: transparent;
        position: relative;
        z-index: 1;
        color: rgb(145, 145, 145);
    }

    .tag-desktop::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(216, 216, 216);
        z-index: -1;
        opacity: 0;
    }

    .tag-desktop:hover::before,
    .tag-desktop.active::before {
        opacity: 1;
    }

    .tag-desktop:hover,
    .tag-desktop.active {
        color: black;
        z-index: 2;
    }

    .text-about {
        font-size: 1.5rem;
    }

    .text-link,
    .text-link-two,
    .text-mail,
    .text-tel {
        font-size: 2.5rem;
    }

    .title-infos,
    .title-infos_two {
        font-size: 1rem;
    }

    .text-infos {
        font-size: 0.9rem;
    }

    .box-one_two {
        display: none;
    }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ----------- MEDIA MIN-WIDTH 1200PX ----------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 1rem;
        min-width: 100vw;
        min-height: 100vh;
    }

    .tags-desktop {
        top: 79px;
    }

    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    /* -------------- PAGE ACCUEIL - PROJETS ------------- */
    /* --------------------------------------------------- */
    /* --------------------------------------------------- */

    .section {
        gap: 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin-top: 127px;
    }

    .col {
        color: inherit;
        box-sizing: border-box;
        flex: 0 0 50%;
        margin-bottom: 5px;
        margin-top: 0;
    }

    .col:hover {
        cursor: pointer;
    }

    .photo-gray .hover-text {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .photo-gray:hover .hover-text {
        opacity: 1;
    }

    .tag {
        font-size: 1.9rem;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8 {
        border-bottom: none;
    }

    .image {
        margin-top: 0;
        height: 80%;
    }

    .text {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .text p {
        line-height: 1.5rem;
    }

    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    /* --------------- PAGE INFOS & MENTIONS ------------- */
    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    main {
        background-color: rgb(251, 250, 249);
    }

    .page-contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 80px;
    }

    .page-legal {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }

    .box-one {
        width: 38%;
        margin-bottom: 20px;
        padding: 20px 0;
        border-right: 1px solid black;
    }

    .box-two {
        width: 62%;
        padding: 20px 0;
    }

    .box-one_two {
        display: block;
        width: 38%;
        margin-bottom: 20px;
        padding: 20px 0;
        border-right: 1px solid black;
    }

    .close-btn {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        font-size: 20px;
        margin-top: 20px;
        padding-bottom: 25px;
    }

    .close-btn_two {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        font-size: 20px;
        margin-top: 20px;
        padding-bottom: 25px;
    }

    .close-btn-project {
        font-size: 20px;
    }

    a {
        line-height: 1;
    }

    .page-contact p {
        color: black;
    }

    .page-contact a {
        color: black;
        margin: 0;
    }

    .text-mail,
    .text-tel {
        font-size: 1.5rem;
        display: inline-block;
        text-decoration: none;
        transition: transform 0.3s ease;
    }

    .text-mail:hover {
        text-decoration: underline 2px black;
    }

    .text-tel:hover {
        text-decoration: underline 2px black;
    }

    .text-link,
    .text-link-two {
        font-size: 1.5rem;
        text-decoration: none;
        display: inline-block;
        overflow: hidden;
    }

    .text-link:hover,
    .text-link-two:hover {
        text-decoration: underline 2px black;
        background-color: rgb(227, 227, 227);
    }

    .text-tel {
        margin-bottom: 20px;
    }

    .text-about {
        font-size: 1.2rem;
        padding-left: 20px;
    }

    .text-infos {
        font-size: 0.8rem;
        padding-left: 20px;
    }

    .title-infos,
    .title-infos_two {
        font-size: 0.7rem;
    }

    .title-infos_two:hover {
        background-color: rgb(216, 216, 216);
    }

    .text-legal {
        display: flex;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1460px -------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

@media only screen and (min-width: 1460px) {

    .navbar,
    .section {
        margin-left: 100px;
        margin-right: 100px;
    }

    .section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 435px);
    }

    .col-1 .image,
    .col-8 .image {
        padding-top: 0;
    }

    .text-about {
        font-size: 1rem;
    }

    .page-contact {
        margin-left: 100px;
        margin-right: 100px;
    }

    .page-legal {
        margin-left: 100px;
        margin-right: 100px;
    }

}