* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Uncut-Sans-Regular";
    src: url('../appearance/fonts/Uncut-Sans-Regular.woff2') format('woff2');
    src: url('../appearance/fonts/UncutSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Uncut-Sans-RegularOblique";
    src: url('../appearance/fonts/Uncut-Sans-RegularOblique.woff2') format('woff2');
    src: url('../appearance/fonts/UncutSans-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Avara-BoldItalic";
    src: url('../appearance/fonts/Avara-BoldItalic.woff') format('woff');
    src: url('../appearance/fonts/Avara-BoldItalic.woff2') format('woff2');
    src: url('../appearance/fonts/Avara-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

::selection {
    background-color: rgb(227, 227, 227);
    color: #000000;
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {

    html,
    body {
        background-color: rgb(251, 250, 249);
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    body {
        font-family: "Uncut-Sans-Regular", "Inter", Arial, sans-serif;
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        height: 100vh;

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    .container_homepage,
    .container_inner,
    .container_homepage_one {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: absolute;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .infos-name {
        margin-bottom: 0;
    }


    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    /* ------------- HEADER - NAVBAR PROJET -------------- */
    /* --------------------------------------------------- */
    /* --------------------------------------------------- */

    header {
        padding-left: 0;
        padding-right: 0;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .navbar {
        padding: 25px 0 0 0;
        background-color: rgb(251, 250, 249, 0.827);
        margin-left: 30px;
        margin-right: 30px;
    }

    /* Menu coulissant */
    .menu-toggle {
        display: none;
    }

    .menu-button {
        cursor: pointer;
        font-size: 1.5rem;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobile-menu a {
        display: block;
        padding: 15px 0 0 20px;
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }

    .mobile-menu a:hover {
        font-family: "Uncut-Sans-RegularOblique", "Arial", sans-serif;
        font-weight: normal;
    }

    .btn-close {
        cursor: pointer;
        font-size: 1.5rem;
        display: block;
        text-align: right;
        padding: 20px;
    }

    /* Afficher le menu mobile lorsque le checkbox est coché */
    .menu-toggle:checked~nav~.mobile-menu {
        transform: translateX(0);
        display: block;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100%;
        background-color: rgb(251, 250, 249);
        box-shadow: -2px 0 5px rgba(186, 185, 185, 0.3);
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 1000;
    }

    /* Menu coulissant */


    h1,
    .infos-nav {
        margin: 0;
    }

    h1 {
        font-size: 1.8rem;
        font-family: "Avara-BoldItalic", "Inter", "Arial", sans-serif;
    }

    .infos-nav {
        font-size: 1.5rem;
        font-family: "Uncut-Sans-Regular", "Inter", "Arial", sans-serif;
    }

    .fixed-top {
        z-index: 1000;
    }

    .hidden {
        display: none !important;
    }

    .hover-text {
        display: none;
    }

    .container_homepage_one {
        p {
            font-size: 1.5rem;
        }

        .text-first {
            padding: 90px 30px 0 30px;
        }

        .text-second,
        .text-third {
            padding: 0 30px 0 30px;
        }
    }

    .highlight {
        background-color: rgb(227, 227, 227);
    }



    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    /*--------------- PAGE INFOS & MENTIONS ---------------*/
    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    .page-contact {
        height: 100%;
        margin: 90px 30px 0 30px;
    }

    .page-legal {
        height: 100%;
        margin: 90px 30px 0 30px;
    }

    .text-infos {
        margin-top: 25px;
    }

    .close-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        font-size: 20px;
    }

    a {
        line-height: 1;
    }

    .close-btn_two {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 30px 0 30px 0;
        font-size: 20px;
    }

    a {
        line-height: 1;
    }

    .page-contact p,
    .page-contact a {
        color: black;
    }

    .text-mail,
    .text-tel,
    .text-link,
    .text-link-two {
        font-size: 1.2rem;
        font-family: "Uncut-Sans-Regular", "Inter", Arial, sans-serif;
    }

    .text-mail:hover,
    .text-tel:hover {
        text-decoration: underline 2px black;
        background-color: rgb(216, 216, 216);
    }

    .text-link,
    .text-link-two {
        text-decoration: none;
        display: inline-block;
        overflow: hidden;
    }

    .text-about {
        font-size: 1rem;
        font-family: "Uncut-Sans-Regular", "Inter", Arial, sans-serif;
    }

    .text-infos {
        font-size: 0.8rem;
        font-family: "Uncut-Sans-Regular", "Inter", Arial, sans-serif;
    }

    .line {
        border-bottom: 1px solid black;
    }

    .title-infos {
        background-color: rgb(216, 216, 216);
        padding: 0 2px;
        font-size: 0.8rem;
        margin-bottom: 0;
    }

    .title-infos_two {
        padding: 0 2px;
        font-size: 0.8rem;
    }

    .legal-notice {
        width: 100%;
        display: flex;
        justify-content: end;
        margin: 30px 0 30px 0;
    }

    .talk {
        text-decoration: underline;
    }

    .talk:hover {
        color: white;
        background-color: #04289c;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 768px) {

    .text-about {
        font-size: 1rem;
    }

    .text-infos {
        font-size: 0.8rem;
    }

    /* Cacher le bouton menu et afficher les liens du menu */
    .menu-button {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: flex;
        gap: 1rem;
    }

    .desktop-menu a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }

    .desktop-menu a:hover {
        font-family: "Uncut-Sans-RegularOblique", "Arial", sans-serif;
        font-weight: normal;
    }

}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ----------- MEDIA MIN-WIDTH 1000PX ----------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    .infos-nav {
        font-size: 2rem;
        transition: font-family 0.3s ease;
    }

    .infos-nav:hover {
        font-family: "Uncut-Sans-RegularOblique", "Arial", sans-serif;
        font-weight: normal;
    }

    .tag-desktop {
        font-size: 1.5rem;
        border: none;
        color: black;
        cursor: pointer;
        background-color: transparent;
        position: relative;
        z-index: 1;
        color: rgb(145, 145, 145);
    }

    .tag-desktop::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(216, 216, 216);
        z-index: -1;
        opacity: 0;
    }

    .tag-desktop:hover::before,
    .tag-desktop.active::before {
        opacity: 1;
    }

    .tag-desktop:hover,
    .tag-desktop.active {
        color: black;
        z-index: 2;
    }

    .text-about {
        font-size: 1rem;
    }

    .title-infos,
    .title-infos_two {
        font-size: 1rem;
    }

    .text-infos {
        font-size: 0.9rem;
    }

    .box-one_two {
        display: none;
    }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ----------- MEDIA MIN-WIDTH 1200PX ----------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 1rem;
        min-width: 100vw;
        min-height: 100vh;
    }

    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    /* --------------- PAGE INFOS & MENTIONS ------------- */
    /* --------------------------------------------------- */
    /* --------------------------------------------------- */
    main {
        background-color: rgb(251, 250, 249);
    }

    .page-contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 80px;
    }

    .page-legal {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }

    .box-one {
        width: 38%;
        margin-bottom: 20px;
        padding: 20px 0;
        border-right: 1px solid black;
    }

    .box-two {
        width: 62%;
        padding: 20px 0;
    }

    .box-one_two {
        display: block;
        width: 38%;
        margin-bottom: 20px;
        padding: 20px 0;
        border-right: 1px solid black;
    }

    .close-btn {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        font-size: 20px;
        margin-top: 20px;
        padding-bottom: 25px;
    }

    .close-btn_two {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        font-size: 20px;
        margin-top: 20px;
        padding-bottom: 25px;
    }

    .close-btn-project {
        font-size: 20px;
    }

    a {
        line-height: 1;
    }

    .page-contact p {
        color: black;
    }

    .page-contact a {
        color: black;
        margin: 0;
    }

    .text-mail,
    .text-tel {
        font-size: 1.2rem;
        display: inline-block;
        text-decoration: none;
        transition: transform 0.3s ease;
    }

    .text-mail:hover,
    .text-tel:hover {
        text-decoration: underline 2px black;
    }

    .text-link,
    .text-link-two {
        text-decoration: none;
        display: inline-block;
        overflow: hidden;
    }

    .text-link:hover,
    .text-link-two:hover {
        text-decoration: underline 2px black;
        background-color: rgb(227, 227, 227);
    }

    .text-tel {
        margin-bottom: 20px;
    }

    .text-about {
        padding-left: 20px;
    }

    .text-infos {
        font-size: 0.8rem;
        padding-left: 20px;
    }

    .title-infos,
    .title-infos_two {
        font-size: 0.8rem;
    }

    .title-infos_two:hover {
        background-color: rgb(216, 216, 216);
    }

    .text-legal {
        display: flex;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1460px -------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

@media only screen and (min-width: 1460px) {

    .navbar {
        margin-left: 100px;
        margin-right: 100px;
    }

    .container_homepage_one {
        p {
            font-size: 1.8rem;
        }

        .text-first {
            padding: 127px 100px 0 100px;
        }

        .text-second,
        .text-third {
            padding: 0 100px 0 100px;
        }
    }

    .desktop-menu a {
        font-size: 1.8rem;
    }

    .page-contact {
        margin-left: 100px;
        margin-right: 100px;
    }

    .page-legal {
        margin-left: 100px;
        margin-right: 100px;
    }

}